<div class="login-page">
  <div class="chatApp-Logo"><img src="assets/images/chatAppLogo.jpg"></div>
  <div class="signIn-set">
    <div class="signin">Sign In</div>
    <div class="grayline">
      <div class="signIn-photo"><img src="assets/images/userPhoneLogin.jpg"></div>
    </div>
    <form>
      <input type="text" name="username" placeholder="User Name">
      <input type="password" name="username" placeholder="Password">
      <input type="submit" name="username" value="Login">
    </form>
    <div class="incorrectUsername">Invalid Username / Password</div>
  </div>
</div>